{% extends "layout/base.html" %} 
{% load staticfiles%} 

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/b3_forum.css' %}">
{% endblock %}


{% block content %}
<style>
       
        .profile-img {
        background-image: url('http://mulyafotocopy.com/wp-content/uploads/2013/11/gedung-pt.mmc_.png');
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        margin: auto;
        }
		
		.status_box{
            margin-left: 0px;
            width: auto;
            margin-right: 15px;
        }
      
</style>

<section>
    <h3 class="forum-list-title" align="center"> Forum Lowongan Kerja </h3>
	<br>
	<br>
    <div class="container">
            {% if Forum %}
                {% for forum in Forum %}
				<div class="status_box">
					<br><br><br>
					<div class="profile-img img-circle" style="width: 70px ; height: 70px;display:inline-block ; vertical-align: middle; "></div>
                
				<div style="display: inline-block;  margin-top: 15px; margin-bottom: auto; vertical-align: middle"">
					<p style="margin-left: 20px"> {{ forum.created_date}} </p>  
					<p style="font-size: 20px;margin-left: 20px">{{ forum.lowongan }}</p>
				</div>
				
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Maaf!</strong> Tidak ada forum
            </div>
            {% endif %}
        </div>


<div align="center">
    <span class="step-links">
		<br><br><br><br>
        {% if Forum.has_previous %}
            <a href="?page={{ Forum.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ Forum.number }} of {{ Forum.paginator.num_pages }}.
        </span>

        {% if Forum.has_next %}
            <a href="?page={{ Forum.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<br>
<br>
<br>
</section>

    <div id="myDiv">
    <input id="new_forum" class="btn btn-lg btn-block btn-primary" value="Tambah Forum Lowongan" onclick="show()"> 
    </div>

    <div id="form" style="display:none" class="container">
      <form id="form" method="POST" action="{% url 'forum:add_forum' %}">
          <h3 align="center">Tambah Forum Lowongan Kerja</h3>
		  <br>
          {% csrf_token %}
          {{ Forum_Lowongan }}
		  <br>
		  <br>
          <input id="submit" type="submit" class="btn btn-lg btn-block btn-primary" value="Submit" onclick="add()">
          <br>
      </form>
    </div>
	<br>
	<br>
	<br>
	<br>
    
    
    {% block javascript%}
    <script>
    function show(){

        var x = document.getElementById("form");
        
        if(x.style.display === "none"){
        x.style.display = "block";
        }else{
          x.style.display = "none";
        }
        $('#new_forum').hide();

        }

    function add(){
        var x = document.getElementById("form");
        
        if(x.style.display === "none"){
        x.style.display = "block";
        }else{
          x.style.display = "none";
        }
        $('#new_forum').show();
    }

    </script>
    {% endblock %}
    {% endblock %}
    