{% extends "layout/base.html" %}
{% block js %}
    
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class='container' id='head-company'>
            <div class='row'> 
                <div class="col-md-4 col">
                    <img src={{ logo_url }} width=200 height=200 alt='logo_comp' />
                </div>
                <div class="col-md-8 col">
                    <h1>{{name}}</h1> 
                    <p>{{industri}} - {{city}}</p>
                    <button onClick='/forum/' type='button' class='btn btn-info'>View Forum</button>
                    <button type='button' class="btn btn-info" disabled>Find Student</button>
                </div>
            </div>
        </div>
        <br>
        <div class="container" id='info-company'>
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <b>CONTACT</b>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Email: <br>{{email}}</li>
                            <li class="list-group-item">Website: <br><a href='{{website}}'>{{website}}</a></li>
                            <li class="list-group-item">Location: <br>{{ city }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-8">
                    <div class="card">
                        <div class="card-header" >
                            <b>Company Information</b>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">About Us: <br>{{ desc }}</li>
                            <li class="list-group-item">Company Types: <br>{{ com_type }}</li>
                            <li class="list-group-item">Company Sizes: <br>{{ size }} employees</li>
                            <li class="list-group-item">Year Founded: <br>{{ founded_year }}</li>
                            <li class="list-group-item">Followers: <br>{{ followers }}</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id='contact-company'>
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}